body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

section {
    width: 1000px;
    margin: auto;
}

h1 {
    font-family: sans-serif;
    margin: 16px 0;
}

section div {
    width: 1000px;
}

.block {
    background-color: pink;
    width: 200px;
    height: 200px;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.border {
    border: 1px solid #000;
}