body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

section {
    width: 1000px;
    margin: auto;
}

.big-box {
    width: 1000px;
}

.long-box {
    width: 600px;
    height: 152px;
}

h1 {
    font-family: sans-serif;
    margin: 16px 0;
}

.block {
    background-color: pink;
    width: 200px;
    height: 200px;
}

.smaller-block {
    background-color: pink;
    width: 150px;
    height: 150px;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.border {
    border: 1px solid #000;
}

.left {
    float: left;
}

.right {
    float: right;
}