body {
    margin: 0;
}

h1 {
    font-family: sans-serif;
    margin: 17px 0;
}

.block {
    background-color: pink;
    width: 200px;
    height: 200px;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}